logs/log.txt
config/twitter_oauth.txt
config/google_api_key.txt
aws/*
output/*
.idea/*
*.pyc
output/fs/*
logs/*
job_iceberg*
output/td_tdca/*
data/solr/tags/data
data/solr/tweets/data
data/solr/hsperfdata_zz
*.tar.gz
data/ml/ml/*
*.sh
TODO
*.log
